@import "colours.css";
@import "Components/footer.css";
@import "Components/header.css";
@import "Components/button.css";

* {
    background-color: var(--main-background);
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}

body {
    min-width: 320px;
    margin: 60px auto;
    width: 70%;
}

a {
    text-decoration: none;
    color: var(--link-text);

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 3em;
    color: var(--header-text);
}

h2 {
    font-size: 2em;
    color: var(--header-text);
}

p {
    font-size: 1.5em;
    line-height: 1.1em;
    color: var(--paragraph-text);
}
